.traffic-light {
    background-color: black;
    width: 150px;
    height: 400px;
    margin: auto;
    border-radius: 25px;
    color: white;
    padding: 5px;
}

.traffic-light > div {
    border-radius: 50%;
    height: 130px;
    width: 140px;
}

.green {
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.red {
    background-color: red;
}

.active{
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 0 40px white ;
}
.pole{
    background-color: black;
    width: 20px;
    height: 100px;
    margin: auto;
}